/* 
    Write CSS here to ensure that the back to top button is fixed to the 
    bottom right hand side of the screen 
*/
#back-to-top {
  position: fixed;
  right: 16px;
  bottom: 10px;
}

/* Write CSS here to make navbar sticky to the top of the page */
#navbar {
  position: fixed;
  margin-left: 1px;
  margin-right: 1px;
  padding-left: 19rem;
  padding-right: 21rem;
}

#header {
  position: relative;
}

/* relatively position header image inside header element using CSS here */
#header-image {
  position: relative;
  top: 15px;
}
